name: Build package

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      node-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
      - name: Setup dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv venv
          source .venv/bin/activate
          uv pip install -r dev-requirements.txt
          npm i
        shell: bash
      - name: Generate Python distribution
        run: |
          source .venv/bin/activate
          npm run dist
        shell: bash
      - name: Upload Python distributions
        uses: actions/upload-artifact@v4
        with:
          name: python-distributions
          path: dist/

  validate:
    needs: build
    permissions:
      contents: read
    uses: BSd3v/dash-auth-plus/.github/workflows/test-runner.yml@main
    with:
      python-version: ${{ inputs.python-version }}
      test-distribution: true
    secrets: inherit
