name: Run tests

permissions:
  contents: read

on:
  push:
    branches: [main]
    tags:
      - v*
  pull_request:
    branches: [main]

jobs:
  test-python-310:
    uses: ./.github/workflows/test-runner.yml
    with:
      python-version: "3.10"
    secrets: inherit

  test-python-312:
    uses: ./.github/workflows/test-runner.yml
    with:
      python-version: "3.12"
    secrets: inherit

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Setup uv and dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv venv
          source .venv/bin/activate
          uv pip install -r dev-requirements.txt
          npm ci

      - name: Lint
        run: |
          source .venv/bin/activate
          npm run lint
